<h3 class="center">Edit <%= resource_name.to_s.humanize %></h3>
<%= render 'layouts/shared_links' %>

<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
      <%= devise_error_messages! %>

      <%= f.label :email %><br />
      <%= f.email_field :email, autofocus: true, autocomplete: "email" %>

      <%= f.label :first_name %><br />
      <%= f.text_field :first_name, autocomplete: "first_name" %>
    
      <%= f.label :last_name %><br />
      <%= f.text_field :last_name, autocomplete: "last_name" %>

      <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
        Currently waiting confirmation for: <%= resource.unconfirmed_email %>
      <% end %>

      <%= f.label :current_password %> <i>(we need your current password to confirm your changes)</i><br />
      <%= f.password_field :current_password, autocomplete: "off" %>

      <%= f.label :password %> <i>(leave blank if you don't want to change it)</i><br />
      <%= f.password_field :password, autocomplete: "off" %>

      <%= f.label :password_confirmation %><br />
      <%= f.password_field :password_confirmation, autocomplete: "off" %><br><br>

      <p><%= f.submit "Update", class: "btn btn-primary" %></p>
    <% end %>

    <p>
      <%= button_to "Delete my account", registration_path(resource_name), data: { confirm: "Are you sure? This action cannot be undone" }, method: :delete, class: "btn btn-primary" %>
    </p>

    <p class="center"><%= link_to "Cancel Edit", root_url %></p>
  </div>
</div>
