<h3 class="center">Sign up</h3>

<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
      <%= devise_error_messages! %>

      <%= f.label :email %><br />
      <%= f.email_field :email, autofocus: true, autocomplete: "email" %>

      <%= f.label :first_name %><br />
      <%= f.text_field :first_name, autocomplete: "first_name" %>

      <%= f.label :last_name %><br />
      <%= f.text_field :last_name, autocomplete: "first_name" %>

      <div class="field">
        <%= f.label :password %>
        <% if @minimum_password_length %>
        <em>(<%= @minimum_password_length %> characters minimum)</em>
        <% end %><br />
        <%= f.password_field :password, autocomplete: "off" %>
      </div>

      <%= f.label :password_confirmation %><br />
      <%= f.password_field :password_confirmation, autocomplete: "off" %><br><br>

      <p><%= f.submit "Sign up", class: "btn btn-primary" %></p>
    <% end %>
    <!--     <%= render "devise/shared/links" %> -->
    <p class="center"><%= link_to "Cancel", root_url %></p>
  </div>
</div>

