<h1>Edit Task</h1>
<%= render 'layouts/shared_links' %>

<div class="row">
  <div class="col-md-6 col-md-offset-3">
	<%= form_with(model: @task, local: true) do |form| %>
	  <% if @task.errors.any? %>
	    <div id="error_explanation">
	      <h2><%= pluralize(@task.errors.count, "error") %> prohibited this task from being saved:</h2>

	      <ul>
	        <% @task.errors.full_messages.each do |message| %>
	          <li><%= message %></li>
	        <% end %>
	      </ul>
	    </div>
	  <% end %>

	  <%= form.label :body, "Name" %> (required)
	  <%= form.text_field :body, id: :task_body, autofocus: true %>

	  <p><strong>Private</strong><%= form.check_box :is_private %></p>

	  <p><%= form.submit "Save Changes", class: "btn btn-primary" %></p>
	  <p class="center"><%= link_to 'Cancel', @task %></p>
	<% end %>
  </div>
</div>
