<h1>My Tasks</h1>
<%= render 'layouts/shared_links' %>

<% if @my_public_tasks.count > 0 %>
  <p><strong>Public Tasks</strong></p>
  <ul>
    <% @my_public_tasks.each do |task| %>
      <li>
        <%= task.created_at.localtime.strftime('%F') %>
        <%= task.created_at.localtime.strftime('%H:%M %p') %>,
        <%= link_to task.body, task %>
        <%= "(by #{task.user_name})" unless current_user.id == task.user_id %> 
        <%= task.display_completed if task.completed %>
      </li>
      <div class="my_subtasks">
        <% task.subtasks.each do |subtask| %>
          <%= render  partial: "subtasks/subtask", locals: {subtask: subtask} %>
        <% end %>
      </div>
    <% end %>
  </ul>
<% end %><br><br>

<% if @my_private_tasks.count > 0 %>
  <p><strong>Private Tasks</strong></p>
  <ul>
    <% @my_private_tasks.each do |task| %>
      <li>
        <%= task.created_at.localtime.strftime('%F') %>
        <%= task.created_at.localtime.strftime('%H:%M %p') %>,
        <%= link_to task.body, task %>
        <%= task.display_completed if task.completed %>
      </li>

      <div class="my_subtasks">
        <% task.subtasks.each do |subtask| %>
          <%= render  partial: "subtasks/subtask", locals: {subtask: subtask} %>
        <% end %>
      </div>
    <% end %>
  </ul>
<% else %>
  <p class="center">Please <%= link_to "create a task", new_task_path %> first</p>
<% end %>