<h1>View Task Details</h1>
<%= render 'layouts/shared_links' %>

  <p><strong><%= @task.status %></strong></p>
  <%= @task.created_at.localtime.strftime('%F') %>
  <%= @task.created_at.localtime.strftime('%H:%M %p') %>,
  <%= @is_private %> Task,
  <%= @task.body %>

  <% if item_owner?(current_user, @task) %>
    <% unless @task.completed %>
      <%= link_to 'Mark Complete', mark_complete_task_path(@task), data: { confirm: 'Click ok to comfirm' } %> |
    <% end %>
    <%= link_to 'Edit', edit_task_path(@task) %> |
    <%= link_to 'Delete', @task, method: :delete, data: { confirm: 'Are you sure?' } %> 
  <% end %>

  <div class="my_subtasks">
	  <% @subtasks.each do |subtask| %>
      <%= render  partial: "subtasks/subtask_show", locals: {subtask: subtask} %>
	  <% end %>
  </div>

  <% if item_owner?(current_user, @task) %>
    <div class="my_subtasks1">
  	 <%= link_to "Create New Subtask", new_subtask_path(task_id: @task.id), remote: true, class: "new_subtask_button" %>
    </div>
  <% end %>
