
  <% if user_signed_in? %>
    <h1>All Tasks</h1> 
    <%= render 'layouts/shared_links' %>
  <% else %>
    <h1>Welcome to Personal Organizer</h1> 
  <% end %>  

  <% if user_signed_in? %>
    <% if @public_tasks.count < 1 && @private_tasks.count < 1 %>
      <p class="center">
        No tasks yet. Click <%= link_to "here", new_task_path %> to create one
      </p>
    <% end %>

    <% if @public_tasks.count > 0 %>
      <p><strong>Public Tasks</strong></p>
      <ul>
        <% @public_tasks.each do |task| %>
          <li>
            <%= task.created_at.strftime('%F') %>
            <%= task.created_at.strftime('%H:%M %p') %>,
            <%= link_to task.body, task %>
            <%= "(by #{task.user_name})" unless current_user.id == task.user_id %> 
            <%= task.display_completed if task.completed %>
          </li>

          <div class="my_subtasks">
            <% task.subtasks.each do |subtask| %>
              <%= render  partial: "subtasks/subtask", locals: {subtask: subtask} %>
            <% end %>
          </div>
        <% end %>
      </ul>
    <% end %><br><br>

    <% if @private_tasks.count > 0 %>
      <p><strong>Private Tasks</strong></p>
      <ul>
        <% @private_tasks.each do |task| %>
          <li>
            <%= task.created_at.strftime('%F') %>
            <%= task.created_at.strftime('%H:%M %p') %>,
            <%= link_to task.body, task %>
            <%= task.display_completed if task.completed %>
          </li>

          <div class="my_subtasks">
            <% task.subtasks.each do |subtask| %>
              <%= render  partial: "subtasks/subtask", locals: {subtask: subtask} %>
            <% end %>
          </div>
        <% end %>
      </ul>
    <% end %><br><br>

  <% else %>
    <p class="center">
      Please sign in or sign up to get started
    </p>
<!--     <p class="center">
      Please 
      <%= link_to "Sign Me In", new_user_session_path %> or 
      <%= link_to "Sign Me Up", new_user_registration_path %> to get started
    </p> -->
  <% end %>
