<%= form_with(model: @subtask) do |f| %>
  <% if @subtask.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@subtask.errors.count, "error") %> prohibited this subtask from being saved:</h2>

      <ul>
        <% @subtask.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.text_field :body, label: false, autofocus: true, placeholder: "Subtask" %>
  </div>

  <div class="actions">
    <%= f.submit "Save Change", class: "btn btn-primary" %>
  </div>

  <div class="center">
    <%= link_to 'Cancel', '#', class: 'cancel-link' %>
  </div>
<% end %>