<%= div_for subtask do %>
  <p>
  	<%= subtask.created_at.localtime.strftime('%F') %> 
    <%= subtask.created_at.localtime.strftime('%H:%M %p') %>,
  	<%= subtask.body %>
	<% if item_owner?(current_user, subtask.task) %>
      <%= link_to "Edit", edit_subtask_path(subtask), remote: true %> |
      <%= link_to "Delete", subtask, remote: true, method: :delete, data: { confirm: "Click Ok to confirm" } %>
    <% end %>
  </p>
<% end %>