$('div#<%= dom_id(@subtask) %>').fadeOut();
$('.complete_task').append('<%= j render partial: “subtask”, locals: {subtask: @subtask} %>');
$('div#<%= dom_id(@subtask) %>').find('h3').css('text-decoration', 'line-through');