<h3 class="center">Sign in</h3>

<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
      <%= f.label :email %><br />
      <%= f.email_field :email, autofocus: true, autocomplete: "email" %>

      <%= f.label :password %><br />
      <%= f.password_field :password, autocomplete: "off" %><br><br>
<!-- 
      <% if devise_mapping.rememberable? -%>
        <%= f.label :remember_me %>
        <%= f.check_box :remember_me %><br><br>
      <% end -%>
 -->
      <p><%= f.submit "Sign in", class: "btn btn-primary" %></p>
    <% end %>
    <p class="center"><%= link_to "Cancel", root_url %></p>
    <!--     <%= render "devise/shared/links" %> -->
  </div>
</div>
