    <header class="navbar navbar-fixed-top navbar-inverse">
      <div class="container">
        <nav>
          <ul class="nav navbar-nav navbar-right">
            <% if user_signed_in? %>
              <li class="greeting"><%= link_to current_user.greeting, tasks_url %></li>
              <li class="profile"><%= link_to "Edit Profile", edit_user_registration_path %></li>
              <li class="signout"><%= link_to "Sign Out", destroy_user_session_path, method: :delete %></li>
            <% else %>
              <li class="signin"><%= link_to "Sign In", new_user_session_path %></li>
              <li class="signup"><%= link_to "Sign Up", new_user_registration_path %></li>
            <% end %>
          </ul>
        </nav>
      </div>
    </header>